@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;

@using PagedList.Mvc;

@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model  PagedList.IPagedList<WebCore.Entities.ProjectHome>

@{
    string cateTitle = string.Empty;
    List<ProductCategory> productCategories = ProductCategoryService.GetProductCategoryList();
    List<WebCore.Entities.Support> supports = SupportService.GetSupportList();
}
<section class="portfolio main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <header class="section-header">
                    <h3 class="head-text">@ViewBag.CategoryText</h3>
                </header>
                <div class="row about-cols">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 portfolio-item filter-app wow fadeInUp">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img class="img-fluid" src="@item.ImagePath" alt="@item.Title" />
                                    <img src="@item.ImagePath" class="img-fluid" alt="@item.Title">
                                    <a href="@item.ImagePath" data-lightbox="portfolio" data-title="@item.Title" class="link-preview" title="@item.Title"><i class="ion ion-eye"></i></a>
                                    <a href="/du-an/chi-tiet/@item.Alias" class="link-details" title="Chi tiết"><i class="ion ion-android-open"></i></a>
                                </figure>
                                <div class="portfolio-info">
                                    <h2 class="portfolio-title"><a href="/du-an/chi-tiet/@item.Alias">@item.Title </a></h2>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group"><a href="#" data-btnback="true" class=" button-link"><i class="fas fa-arrow-circle-left"></i> Quay lại</a></div>
                    </div>
                    <div class="col-md-10">
                        @{
                            if (Model.Count() > 0)
                            {
                                <div class="form-group  text-right">
                                    <nav aria-label="Page navigation example">
                                        @Html.PagedListPager(Model, page => Url.Action("DataList", new { page }), Helper.Pagination.PagedRender.PagedListRenderOption(1))
                                    </nav>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-header">
                    <h2 class="head-text">Nhóm sản phẩm</h2>
                    <div class="list-group list-group-flush vertical-category">
                        @foreach (var item in productCategories)
                        {
                            <a href="/nhom-san-pham/@item.Alias" class="list-group-item list-group-item-action list-group-item-success"><i class="fas fa-arrows-alt"></i> @item.Title</a>
                        }
                    </div>
                </div>
                <div class="section-header">
                    <h2 class="head-text">Hỗ trợ</h2>
                    <div class="list-group list-group-flush vertical-support">
                        @foreach (var item in supports)
                        {
                            <div class="list-group-item">
                                <i class="fas fa-headset"></i> <span>@item.Title</span>
                                <br />
                                <div class="summary">@item.Summary</div>
                            </div>
                        }
                    </div>
                </div>
                <div class="section-header">
                    <h2 class="head-text">Quảng cáo</h2>
                    <div class="list-group list-group-flush vertical-support">
                        @foreach (var item in supports)
                        {
                            <div class="list-group-item">
                                <i class="fas fa-headset"></i> <span>@item.Title</span>
                                <br />
                                <div class="summary">@item.Summary</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio main-content">
    <div class="container">
        <div class="product-carousel">
            <header class="section-header">
                <h3 class="head-text">Có thể bạn quan tâm !</h3>
            </header>
            @Html.Partial("~/Views/_OtherProductSliderPartial.cshtml", new ProductOtherPatial())
        </div>
    </div>
</section>
