@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.Article

@{
    string id = "";
    string categoryId = "";
    string title = "";
    string summary = "";
    string htmlText = "";
    int viewTotal = 0;
    string viewDate = "";
    string imgFile = string.Empty;
    string imgPath = string.Empty;
    string createdBy = "";
    string enabled = "";
    string menuId = "";

    if (Model != null)
    {
        id = Model.ID;
        title = Model.Title;
        summary = Model.Summary;
        viewTotal = Model.ViewTotal;
        categoryId = Model.CategoryID;
        htmlText = Model.HtmlText;
        if (Model.ViewDate != null)
        {
            viewDate = Helper.TimeData.TimeFormat.FormatToViewDate(Convert.ToDateTime(Model.ViewDate), Helper.Language.LanguagePage.GetLanguageCode);
        }
        imgPath = Helper.File.AttachmentFile.GetFile(Model.ImageFile, true);
        imgFile = Model.ImageFile;
        createdBy = Model.CreatedBy;
        menuId = Model.MenuID;
        if (Model.Enabled == (int)ModelEnum.State.ENABLED)
        {
            enabled = "checked";
        }
    }
}
<div class="row">
    <div class="col-md-9">
        <div class="form-group">
            <label class="form-label">@Helper.Language.Resource.Label.Title</label>
            <input id="txtTitle" name="txtTitle" maxlength="80" type="text" class="form-control" value="@title" />
            <span id="lblTitle" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">@Helper.Language.Resource.Label.Summary</label>
            <textarea id="txtSummary" name="txtSummary" class="form-control default">@summary</textarea>
            <span id="lblSummary" class="message msg-box"></span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Nhóm tin:</label>
                    <select id="ddlCategoryID" name="ddlCategoryID" class="form-control show-tick" data-live-search="true">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                    </select>
                    <span id="lblCategory" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Tổng view:</label>
                    <input id="txtViewTotal" name="txtViewTotal" maxlength="255" type="text" class="form-control" value="@viewTotal" />
                    <span id="lblViewTotal" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Ngày đăng:</label>
                    <input id="txtViewDate" name="txtViewDate" data-date="true" maxlength="10" type="text" class="form-control" value="@viewDate" />
                    <span id="lblViewDate" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">@Helper.Language.Resource.Label.HtmlText:</label>
            <textarea class="HtmlEditors" id="txtHtmlText" name="txtHtmlText" style="width:100%; min-height:500px;">@htmlText</textarea>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group ">
            <label class="form-label">@Helper.Language.Resource.Label.Photo:</label>
            <div class="text-center new-box-preview" style="background:#CCC; padding:30px 0px; height:280px">
                <img src="@imgPath" class="img-responsive" style="max-height:100%; margin:auto;" data-id="@imgFile" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Danh mục</label>
            <div class="vetical-menu" style="height: 324px;">
                <ul id="MenuControler" class="sidebar-menu">
                    @Html.Raw(MenuService.GetMenuForCategory(menuId, "Article", false))
                </ul>
            </div>
            <span id="lblMenuID" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <div class="panel-active">
                <label class="form-label">&nbsp;</label>
                <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" @enabled />
                <label for="cbxActive">Kích hoạt</label>
                <span id="lblActive" class="message msg-box"></span>
            </div>
        </div>
    </div>
</div>
<!-- button acction -->
<div class="form-group text-right">
    <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
    <button id="btnUpdate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
</div>
<hr />
@{
    if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
    {
        <div class="form-group text-right att-data-list">
            <a href="@Helper.Page.Navigate.PathDataList()">
                @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    }
}
<input id="txtID" type="hidden" value="@id" />

@section scripts{
    <script src="~/Areas/Management/_script/article.js"></script>
    <script type="text/javascript">
        $().fileManage({
            test: "111",
        });

        $(document).on("click", ".new-box-preview", function () {
            $(this).fileFinder({
                fileType: fmEnum.fileType.Alone,
                selected: [$('.new-box-preview').find('img').data('id')],
                content: $('.new-box-preview'),
            });
        });
        //
        $(document).on('change', '#MenuControler input[type="checkbox"]', function () {
            $('#MenuControler input[type="checkbox"]').not(this).prop('checked', false);
        });
    </script>
}


