@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;
@using WebCore.Model.Services
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Mã sản phẩm:</label>
                    <input id="txtTextID" name="txtTextID" maxlength="10" type="text" class="form-control" value="" />
                    <span id="lblTextID" class="message msg-box"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Tên sản phẩm:</label>
                    <input id="txtTitle" name="txtTitle" maxlength="80" type="text" class="form-control" value="" />
                    <span id="lblTitle" class="message msg-box"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">@Helper.Language.Resource.Label.Summary</label>
                    <textarea id="txtSummary" name="txtSummary" class="form-control default"></textarea>
                    <span id="lblSummary" class="message msg-box"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Giá bán:</label>
                            <input id="txtPrice" name="txtPrice" maxlength="9" type="text" class="form-control" data-Currency="true" value="0" />
                            <span id="lblPrice" class="message msg-box"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Giá khuyến mại:</label>
                            <input id="txtPriceListed" name="txtPriceListed" maxlength="9" type="text" class="form-control" data-Currency="true" value="0" />
                            <span id="lblPriceListed" class="message msg-box"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">TG.bảo hành</label>
                            <select id="ddlWarranty" name="ddlWarranty" class="form-control show-tick" data-live-search="true">
                                <option value="">-@Helper.Language.Resource.Label.Option-</option>
                                @Html.Raw(ProductWarrantyService.DDLProductWarranty(string.Empty))
                            </select>
                            <span id="lblWarranty" class="message msg-box"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nhà cung cấp:</label>
                            <select id="ddlProvider" name="ddlProvider" class="form-control show-tick" data-live-search="true">
                                <option value="">-@Helper.Language.Resource.Label.Option-</option>
                                @Html.Raw(ProductProviderService.DDLProductProvider(string.Empty))
                            </select>
                            <span id="lblProvider" class="message msg-box"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">@Helper.Language.Resource.Label.HtmlNote:</label>
                    <textarea class="HtmlEditor" id="txtNote" name="txtNote" style="width:100%; min-height:300px;"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">@Helper.Language.Resource.Label.HtmlText:</label>
            <textarea class="HtmlEditors" id="txtHtmlText" name="txtHtmlText" style="width:100%;"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label">@Helper.Language.Resource.Label.Photo:</label>
            <div class="file-preview">
                <div class="file-preview-footer">
                    <i id="btnOpenManagerFile" class="far fa-folder cursor"></i><span class="photo-caption-text">... chọn file</span>
                </div>
                <div class="container-fuild modal-container-layout" style="height: 205px; overflow:auto">
                    <div class="pre-view"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group ">
            <label class="form-label">@Helper.Language.Resource.Label.Photo:</label>
            <div class="text-center new-box-preview" style="background:#CCC; padding:30px 0px; height:280px">
                <img data-id="" src="/files/default/00000000-0000-0000-0000-000000000000.gif" class="img-responsive" style="max-height:100%; margin:auto;" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Loại sản phẩm:</label>
            <select id="ddlCategoryID" name="ddlCategoryID" class="form-control show-tick" data-live-search="true">
                <option value="">-@Helper.Language.Resource.Label.Option-</option>
            </select>
            <span id="lblCategory" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Tổng view:</label>
            <input id="txtViewTotal" name="txtViewTotal" maxlength="255" type="text" class="form-control" value="0" />
            <span id="lblViewTotal" class="message msg-box"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Ngày đăng:</label>
            <input id="txtViewDate" name="txtViewDate" data-date="true" maxlength="10" type="text" class="form-control" />
            <span id="lblViewDate" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Tình trạng:</label>
            <select id="ddlState" name="ddlState" class="form-control show-tick" data-live-search="true">
                <option value="-1">-@Helper.Language.Resource.Label.Option-</option>
                @Html.Raw(ProductService.DDLProductState(1))
            </select>
            <span id="lblState" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Danh mục</label>
            <div class="vetical-menu" style="height: 477px;">
                <ul id="MenuControler" class="sidebar-menu">
                    @Html.Raw(MenuService.GetMenuForCategory("", "Product", false))
                </ul>
            </div>
            <span id="lblMenuID" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <div class="panel-active">
                <label class="form-label">&nbsp;</label>
                <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" checked />
                <label for="cbxActive">Kích hoạt</label>
                <span id="lblActive" class="message msg-box"></span>
            </div>
        </div>
    </div>
</div>
<!-- button acction -->
<div class="form-group text-right">
    <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
    <button id="btnCreate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnCreate</button>
</div>
<hr />
@{
    if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
    {
        <div class="form-group text-right att-data-list">
            <a href="@Helper.Page.Navigate.PathDataList()">
                @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    }
}

@section scripts{
    <script src="~/Areas/Management/_script/product.js"></script>
    <script type="text/javascript">
        $().fileManage({});
        //
        $(document).on("click", ".new-box-preview", function () {
            $(this).fileFinder({
                fileType: fmEnum.fileType.Alone,
                selected: [$('.new-box-preview').find('img').data('id')],
                content: $('.new-box-preview'),
            });
        });
        $(document).on("click", "#btnOpenManagerFile", function () {
            var selected = [];
            $(".file-preview .pre-item-box").each((index, item) => {
                selected.push($(item).data("id"));
            });
            //
            $(this).fileFinder({
                fileType: fmEnum.fileType.Multi,
                selected: selected,
                content: $('.file-preview .pre-view'),
                isList: false
            });
        });
        //
        $(document).on('change', '#MenuControler input[type="checkbox"]', function () {
            $('#MenuControler input[type="checkbox"]').not(this).prop('checked', false);
        });
    </script>
}
