@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.ProductResult
@{
    string id = string.Empty;
    string textId = string.Empty;
    string title = string.Empty;
    string alias = string.Empty;
    string summary = string.Empty;
    string htmlNote = string.Empty;
    string htmlText = string.Empty;
    string tag = string.Empty;
    string imageFile = string.Empty;
    string imagePath = string.Empty;
    double price = 0;
    double priceListed = 0;
    string priceText = string.Empty;
    string categoryID = string.Empty;
    string madeInID = string.Empty;
    string warrantyID = string.Empty;
    string categoryText = string.Empty;
    string madeInText = string.Empty;
    string warrantyText = string.Empty;
    int state = 0;
    string StateTx = string.Empty;
    int viewTotal = 0;
    string viewDate = string.Empty;
    string enabled = "";
    string createdBy = "";
    //
    List<ViewAttachment> attachments = null;

    if (Model != null)
    {
        id = Model.ID;
        textId = Model.TextID;
        title = Model.Title;
        summary = Model.Summary;
        alias = string.Empty;
        summary = Model.Summary;
        htmlNote = Model.HtmlNote;
        htmlText = Model.HtmlText;
        tag = string.Empty;
        imageFile = Model.ImageFile;
        imagePath = Model.ImagePath;
        price = Model.Price;
        priceListed = Model.PriceListed;
        priceText = Model.PriceText;
        categoryID = Model.CategoryID;
        madeInID = Model.MadeInID;
        warrantyID = Model.WarrantyID;
        categoryText = Model.CategoryText;
        madeInText = Model.MadeInText;
        warrantyText = Model.WarrantyText;
        state = Model.State;
        StateTx = Model.StateTx;
        viewTotal = Model.ViewTotal;
        viewDate = Model.CreatedDate;
        if (Model.ViewDate != null)
        {
            viewDate = Helper.TimeData.TimeFormat.FormatToViewDate(Convert.ToDateTime(Model.ViewDate), Helper.Language.LanguagePage.GetLanguageCode);
        }
        createdBy = Model.CreatedBy;
        if (Model.Enabled == (int)ModelEnum.State.ENABLED)
        {
            enabled = "checked";
        }
        //
        attachments = ProductService.GetPhotos(id);
    }
}
<div class="form-group">
    <label class="form-label">@Helper.Language.Resource.Label.Photo:</label>
    <div class="file-preview">
        <div class="file-preview-footer">
            @{
                string lblCount = "... chọn tệp tin";
                if (attachments != null)
                {
                    lblCount = $"... {attachments.Count()} tệp tin";
                }
            }
            <i class="far fa-folder cursor"></i><span>@lblCount</span>
        </div>
        <div class="container-fuild modal-container-layout">
            <div class="pre-view">
                @{
                    if (attachments != null)
                    {
                        foreach (var item in attachments)
                        {
                            string idFile = $"ibox{item.ID}";
                            string name = $"{Helper.Page.Library.SubText(5, item.Title)}{item.Extension}";
                            <div class="col-md-2" id="@idFile">
                                <div class="item-image" data-actived="false">
                                    <div class="image-box">
                                        <img class="img-responsive" src="@item.ImagePath" />
                                    </div>
                                    <div class="note-box">
                                        @name<br>
                                        @item.ContentLength k
                                    </div>
                                    <div class="file-info"><i class="fas fa-check-circle"></i></div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">

    <div class="top-pic">
        <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông tin:</label>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">@Resource.Label.IDNo</label>
        <div class="col-md-9">: <b style="color:#F00">@textId</b></div>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">Tên sản phẩm</label>
        <div class="col-md-9">: <b style="color:#0BB2CA">@title</b></div>
    </div>
    <div class="form-group form-float">
        <div class="form-line">
            <label class="form-label">Mô tả:</label>
            <div>@summary</div>
        </div>
    </div>

    <div class="row form-group">
        <label class="form-label col-md-3">Nhóm sản phẩm</label>
        <div class="col-md-9">: <span>@categoryText</span></div>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">TG.bảo hành</label>
        <div class="col-md-9">: <span>@warrantyText</span></div>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">Nhà cung cấp</label>
        <div class="col-md-9">: <span>@madeInText</span></div>
    </div>

    <div class="row form-group">
        <label class="form-label col-md-3">Tình trạng</label>
        <div class="col-md-9">: <b style="color:#F00">@state</b></div>
    </div>

    <div class="top-pic">
        <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông tin giá:</label>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">Giá bán</label>
        <div class="col-md-9">: <b style="color:#F00">@price đ</b></div>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">Giá khuyến mại</label>
        <div class="col-md-9">: <b style="color:#F00">@priceListed đ</b></div>
    </div>
    <div class="top-pic">
        <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông số kỹ thuật(html):</label>
    </div>
    <div class="form-group form-float">@Html.Raw(htmlNote)</div>
    <div class="top-pic">
        <i class="fas fa-file-invoice"></i>&nbsp;<label>Nội dung:</label>
    </div>
    <div class="form-group form-float">
        <div>@Html.Raw(htmlText)</div>
    </div>
    <div class="form-group form-float">
        <div class="form-nomal ">
            <label class="form-label">Thẻ gán: @tag</label>
        </div>
    </div>
    <div class="top-pic">
        <i class="fas fa-file-invoice"></i>&nbsp;<label>Thiết lập:</label>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">Tổng view</label>
        <div class="col-md-9">: <span style="color:#0bb2ca">@viewTotal</span></div>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">Ngày xuất</label>
        <div class="col-md-9">: <span style="color:#0bb2ca">@viewDate</span></div>
    </div>
    <div class="row form-group">
        <label class="form-label col-md-3">Trạng thái</label>
        <div class="col-md-9">: <b style="color:#F00">@Html.Raw(enabled)</b></div>
    </div>

</div>
@{
    if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
    {
        <div class="form-group text-right att-data-list">
            <a href="@Helper.Page.Navigate.PathDataList()">
                @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    }
}

@section scripts{
    <script src="~/Areas/Management/_script/product.js"></script>
}
