@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;

@using PagedList.Mvc;

@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model  PagedList.IPagedList<WebCore.Entities.ProductHome>

@{
    string cateTitle = string.Empty;
    List<ProductCategory> productCategories = ProductCategoryService.GetProductCategoryList();
    List<WebCore.Entities.Support> supports = SupportService.GetSupportList();
}
<section class="product main-content">
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <header class="section-header">
                    <h3 class="head-text">@ViewBag.CategoryText</h3>
                </header>
                <div class="row">
                    <div class="col-md-3">
                        <input id="priceMin" type="text" class="form-control" placeholder="Từ: giá bán" value="@ViewBag.PriceMin" />
                    </div>
                    <div class="col-md-3">
                        <input id="priceMax" type="text" class="form-control" placeholder="Đến: giá bán" value="@ViewBag.PriceMax" />
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="txtKey" type="text" class="form-control" placeholder="Mã/ Tên sản phẩm..." value="@ViewBag.KeyText" />
                                <div class="input-group-append">
                                    <button id="btnHomeSearch" class="btn " type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row about-cols mgt-20">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 wow fadeInUp">
                            <div class="item-col">
                                <div class="img">
                                    <a href="/san-pham/chi-tiet/@item.Alias"><img src="@item.ImagePath" alt="@item.Title" class="img-fluid" /></a>
                                </div>
                                <a href="/san-pham/chi-tiet/@item.Alias"><h2 class="title">@item.Title</h2></a>
                                <div class="price text-center">
                                    <span class="price-new">@Helper.Page.Library.FormatCurrency(item.Price) đ</span>
                                    @*<span class="price-old">1000000 @item.PriceListed đ</span>*@
                                </div>
                                <div class="product-bottom">
                                    <div class="v-control">
                                        <i class="fa fa-star actived"></i>
                                        <i class="fa fa-star actived"></i>
                                        <i class="fa fa-star actived"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="v-prepend">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group"><a href="#" data-btnback="true" class=" button-link"><i class="fas fa-arrow-circle-left"></i> Quay lại</a></div>
                    </div>
                    <div class="col-md-10">
                        @{
                            if (Model.Count() > 0)
                            {
                                <div class="form-group  text-right">
                                    <nav aria-label="Page navigation example">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, key = ViewBag.KeyText, space = $"min{ViewBag.PriceMin}-max{ViewBag.PriceMax}" }), Helper.Pagination.PagedRender.PagedListRenderOption(1))
                                    </nav>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-header">
                    <h2 class="head-text">Nhóm sản phẩm</h2>
                    <div class="list-group list-group-flush vertical-category">
                        @foreach (var item in productCategories)
                        {
                            <a href="/nhom-san-pham/@item.Alias" class="list-group-item list-group-item-action list-group-item-success"><i class="fas fa-arrows-alt"></i> @item.Title</a>
                        }
                    </div>
                </div>
                <div class="section-header">
                    <h2 class="head-text">Hỗ trợ</h2>
                    <div class="list-group list-group-flush vertical-support">
                        @foreach (var item in supports)
                        {
                            <div class="list-group-item">
                                <i class="fas fa-headset"></i> <span>@item.Title</span>
                                <br />
                                <div class="summary">@item.Summary</div>
                            </div>
                        }
                    </div>
                </div>
                <div class="section-header">
                    <h2 class="head-text">Quảng cáo</h2>
                    <div class="list-group list-group-flush vertical-support">
                        @foreach (var item in supports)
                        {
                            <div class="list-group-item">
                                <i class="fas fa-headset"></i> <span>@item.Title</span>
                                <br />
                                <div class="summary">@item.Summary</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(document).on("click", "#btnHomeSearch", function () {
            var key = $("#txtKey").val();
            var priceMin = $("#priceMin").val();
            var priceMax = $("#priceMax").val();
            //
            var space = "";
            var uri = "";
            if (key != "")
                key = `key=${key}`;
            if (priceMin != "")
                space = `min${priceMin}`;
            if (priceMax != "")
                space += `-max${priceMax}`;
            //
            if (key != "") {
                uri = `?${key}`;
                if (space != "")
                    uri += `&space=${space}`;
            }
            else {
                if (space != "")
                    uri = `?space=${space}`;
                //
            }
            //
            location.href = `/tim-kiem${uri}`;
        });


    </script>
}
