@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;
@using WebCore.Model.Services
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label for="">Danh mục:</label>
            <select id="ddlCategory" name="ddlCategory" class="form-control show-tick" data-live-search="true">
                <option value="">-@Helper.Language.Resource.Label.OptionNew-</option>
                @Html.Raw(WebCore.Services.RoleService.DDLRoleLevelLinitOne(""))
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">Tên nhóm quyền:</label>
            <input id="txtTitle" name="txtTitle" maxlength="50" type="text" class="form-control" />
            <span id="lblTitle" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả:</label>
            <textarea id="txtSummary" name="txtSummary" class="form-control default"></textarea>
            <span id="lblSummary" class="message msg-box"></span>
        </div>
        @*<div class="form-group">
                <label class="form-label">Cấp độ:</label>
                <input id="txtLevel" name="txtLevel" maxlength="50" type="text" class="form-control" />
                <span id="lblLevel" class="message msg-box"></span>
            </div>*@
        <div class="form-group">
            <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" checked />
            <label for="cbxActive">Kích hoạt</label>
            <span id="lblActive" class="message msg-box"></span>
        </div>
        <!-- button acction -->
        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnCreate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnCreate</button>
        </div>
        <hr />
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
@section scripts{
    <script src="~/Areas/Management/_script/user-group.js"></script>
}
