@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;
@using WebCore.Model.Services
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
<div class="row">
    <div class="col-md-8">
        <div class="top-pic special">
            <label><i class="fas fa-user-circle" aria-hidden="true"></i>&nbsp;<span>Tài khoản:</span></label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label">Tài khoản:</label>
                    <input id="txtLoginID" name="txtLoginID" maxlength="50" type="text" class="form-control" value="" />
                    <span id="lblLoginID" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">Mật khẩu:</label>
                    <input id="txtPassword" name="txtPassword" maxlength="50" type="password" class="form-control" value="" />
                    <span id="lblPassword" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">XN-Mật khẩu:</label>
                    <input id="txtRePassword" name="txtRePassword" maxlength="50" type="password" class="form-control" value="" />
                    <span id="lblRePassword" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label">Nhóm người dùng</label>
                    <div class="vetical-menu" style="height: 247px;">
                        <ul id="ddlRole" class="sidebar-menu">
                            @Html.Raw(RoleService.DDLRoleCategory("", true))
                        </ul>
                    </div>
                    <span id="lblRole" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="top-pic special">
            <label><i class="fas fa-user-circle" aria-hidden="true"></i>&nbsp;<span>Đơn vị/Tổ chức:</span></label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Phòng ban:</label>
                    <select id="ddlDepartment" name="ddlDepartment" class="form-control show-tick" data-live-search="true">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        @Html.Raw(DepartmentService.DropdownList(""))
                    </select>
                    <span id="lblDepartment" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Chức vụ:</label>
                    <select id="ddlDepartmentLevel" name="ddlDepartmentLevel" class="form-control show-tick" data-live-search="true">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        @Html.Raw(DepartmentService.DpmPosition(-1))
                    </select>
                    <span id="lblDepartmentLevel" class="message msg-box"></span>
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Bộ phận:</label>
                        <select id="ddlDepartmentPart" name="ddlDepartmentPart" class="form-control show-tick" data-live-search="true">
                            <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        </select>
                        <span id="lblDepartmentPart" class="message msg-box"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Chức vụ:</label>
                        <select id="ddlPosition" name="ddlPosition" class="form-control show-tick" data-live-search="true">
                            <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        </select>
                        <span id="lblPosition" class="message msg-box"></span>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i>&nbsp;<label>Hồ sơ:</label>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group text-center" style="background:#CCC; padding:30px 0px; height:220px">
                    <img src="@Helper.Page.Default.FileUserImange" class="img-responsive infor-img" />
                </div>
                <div class="form-group m-t-5">
                    <label class="form-label">Ảnh đại diện:<span class="note"></span> </label>
                    <span id="lblFile" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <label class="form-label">Họ/Tên:</label>
                    <input id="txtFullName" name="txtFullName" maxlength="50" type="text" class="form-control" value="" />
                    <span id="lblFullName" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">Ngày sinh:</label>
                    <input id="txtBirthday" name="txtBirthday" data-date="true" maxlength="10" type="text" class="form-control" value="" />
                    <span id="lblBirthday" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">Địa chỉ email:</label>
                    <input id="txtEmail" name="txtEmail" maxlength="50" type="text" class="form-control" value="" />
                    <span id="lblEmail" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="form-label">Số điện thoại:</label>
                    <input id="txtPhone" name="txtPhone" maxlength="50" type="text" class="form-control" value="" />
                    <span id="lblPhone" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <label class="form-label">Địa chỉ:</label>
                    <input id="txtAddress" name="txtAddress" maxlength="250" type="text" class="form-control" value="" />
                    <span id="lblAddress" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="top-pic">
                    <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;<label>Hoạt động:</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label" style="width:100%">Tình trạng:</label>
                    <input id="cbxBlock" name="cbxBlock" type="checkbox" class="filled-in" />
                    <label for="cbxBlock">Khóa</label>
                    <span id="lblBlock" class="message msg-box"></span>
                    <hr />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label" style="width:100%">Trạng thái:</label>
                    <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" />
                    <label for="cbxActive">Kích hoạt</label>
                    <span id="lblActive" class="message msg-box"></span>
                    <hr />
                </div>
            </div>
        </div>
        <!-- button acction -->
        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnCreate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnCreate</button>
        </div>
        <hr />
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
@section scripts{
    <script src="~/Areas/Management/_script/app-user.js"></script>
    <script type="text/javascript">
        $(document).on('change', '#ddlRole input[type="checkbox"]', function () {
            $('#ddlRole input[type="checkbox"]').not(this).prop('checked', false);
        });
    </script>
}
