@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@{
    string id = "";
    string loginId = "";
    string imageFile = "";
    string fullName = "";
    string nickname = "";
    string departmentId = "";
    string departmentPartId = "";
    string birthday = "";
    string email = "";
    string phone = "";
    string address = "";

    string roleId = "";
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string isBlock = "";
    string enabled = "";
    List<string> lstRole = new List<string>();

    if (Model != null)
    {
        id = Model.ID;
        loginId = Model.LoginID;
        fullName = Model.FullName;
        nickname = Model.Nickname;
        departmentId = Model.DepartmentID;
        departmentPartId = Model.DepartmentPartID;
        birthday = Helper.TimeData.TimeFormat.FormatToViewDate(Model.Birthday);
        email = Model.Email;
        phone = Model.Phone;
        address = Model.Address;
        languageId = Model.LanguageID;
        createdBy = Model.CreatedBy;
        createdDate = Convert.ToString(Model.CreatedDate);
        imageFile = Helper.File.AttachmentFile.GetFile(imageFile, true);
        //
        if (Model.IsBlock)
        {
            isBlock = "checked";
        }
        if (Model.Enabled == (int)ModelEnum.State.ENABLED)
        {
            enabled = "checked";
        }
        //
        List<string> userRoles = UserRoleService.GetUserRoleByUserID(id);
        if (userRoles.Count() > 0)
        {
            roleId = userRoles[0];
        }
    }
}


<div class="row">
    <div class="col-md-7">
        <div class="form-group ">
            <label class="form-label">Tên đăng nhập: <span style="color: #F00;">@loginId</span></label>
        </div>
        <div class="form-group ">
            <label class="form-label">Nhóm người dùng</label>
            <div class="vetical-menu" style="height: 247px;">
                <ul id="ddlRole" class="sidebar-menu">
                    @Html.Raw(RoleService.DDLRoleCategory(roleId, true))
                </ul>
            </div>
            <span id="lblRole" class="message msg-box"></span>
        </div>
        <div class="top-pic special">
            <label><i class="fas fa-user-circle" aria-hidden="true"></i>&nbsp;<span>Đơn vị/Tổ chức:</span></label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Phòng ban:</label>
                    <select id="ddlDepartment" name="ddlDepartment" class="form-control show-tick" data-live-search="true">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        @Html.Raw(DepartmentService.DropdownList(departmentId))
                    </select>
                    <span id="lblDepartment" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Bộ phận/chức vụ:</label>
                    <select id="ddlDepartmentPart" name="ddlDepartmentPart" class="form-control show-tick" data-live-search="true">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        @Html.Raw(DepartmentPartService.DropdownList(departmentPartId))
                    </select>
                    <span id="lblDepartmentPart" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i>&nbsp;<label>Hồ sơ:</label>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group text-center" style="background:#CCC; padding:30px 0px; height:220px">
                    <img src="@imageFile" class="img-responsive infor-img" />
                </div>
                <div class="form-group m-t-5">
                    <label class="form-label">Ảnh đại diện:<span class="note"></span> </label>
                    <span id="lblFile" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <label class="form-label">Họ/Tên:</label>
                    <input id="txtFullName" name="txtFullName" maxlength="50" type="text" class="form-control" value="@fullName" />
                    <span id="lblFullName" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">Ngày sinh:</label>
                    <input id="txtBirthday" name="txtBirthday" data-date="true" maxlength="10" type="text" class="form-control" value="@birthday" />
                    <span id="lblBirthday" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">Địa chỉ email:</label>
                    <input id="txtEmail" name="txtEmail" maxlength="50" type="text" class="form-control" value="@email" />
                    <span id="lblEmail" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="form-label">Số điện thoại:</label>
                    <input id="txtPhone" name="txtPhone" maxlength="50" type="text" class="form-control" value="@phone" />
                    <span id="lblPhone" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <label class="form-label">Địa chỉ:</label>
                    <input id="txtAddress" name="txtAddress" maxlength="250" type="text" class="form-control" value="@address" />
                    <span id="lblAddress" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="top-pic">
                    <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;<label>Hoạt động:</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label" style="width:100%">Tình trạng:</label>
                    <input id="cbxBlock" name="cbxBlock" type="checkbox" class="filled-in" @isBlock />
                    <label for="cbxBlock">Khóa</label>
                    <span id="lblBlock" class="message msg-box"></span>
                    <hr />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label" style="width:100%">Trạng thái:</label>
                    <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" @enabled />
                    <label for="cbxActive">Kích hoạt</label>
                    <span id="lblActive" class="message msg-box"></span>
                    <hr />
                </div>
            </div>
        </div>
        <!-- button acction -->
        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnUpdate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
        </div>
        <hr />
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
<input id="txtID" type="hidden" value="@id" />
@section scripts{
    <script src="~/Areas/Management/_script/app-user.js"></script>
    <script type="text/javascript">
        $(document).on('change', '#ddlRole input[type="checkbox"]', function () {
            $('#ddlRole input[type="checkbox"]').not(this).prop('checked', false);
        });
    </script>
}
