@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;

@model WebCore.Entities.UserClientResult

@{
    string id = "";
    string loginId = "";
    string imageFile = "";
    string fullName = "";
    string nickname = "";
    string birthday = "";
    string email = "";
    string phone = "";
    string address = "";

    string roleId = "";
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string isBlock = "";
    string enabled = "";
    List<string> lstRole = new List<string>();
    try
    {
        if (Model != null)
        {
            id = Model.ID;
            loginId = Model.LoginID;
            fullName = Model.FullName;
            nickname = Model.Nickname;
            birthday = Model.Birthday;
            email = Model.Email;
            phone = Model.Phone;
            address = Model.Address;
            languageId = Model.LanguageID;
            createdBy = Model.CreatedBy;
            createdDate = Convert.ToString(Model.CreatedDate);
            imageFile = Helper.File.AttachmentFile.GetFile(imageFile, true);
            //
            if (Model.IsBlock)
            {
                isBlock = "checked";
            }
            if (Model.Enabled == (int)ModelEnum.State.ENABLED)
            {
                enabled = "checked";
            }
            //
            List<string> userRoles = UserRoleService.GetUserRoleByUserID(id);
            if (userRoles.Count() > 0)
            {
                roleId = userRoles[0];
            }

        }
    }
    catch (Exception)
    {

    }
}
<div class="row">
    <div class="col-md-7">
        <div class="top-pic special">
            <label><i class="fas fa-user-circle" aria-hidden="true"></i>&nbsp;<span>Tài khoản:</span></label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label">Tài khoản: <span style="color: #F00;">@loginId</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="form-label">Họ tên: @fullName</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i>&nbsp;<label>Quyền hạn:</label>
        </div>
        <div class="form-group ">
            <label class="form-label">Nhóm người dùng</label>
            <div class="vetical-menu" style="height: 247px;">
                <ul id="ddlRole" class="sidebar-menu">
                    @Html.Raw(RoleService.DDLRoleCategory(roleId, true))
                </ul>
            </div>
            <span id="lblRole" class="message msg-box"></span>
        </div>
        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnRoleSetting" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
        </div>
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
<input id="txtID" type="hidden" value="@id" />
@section scripts{
    <script src="~/Areas/Management/_script/app-user.js"></script>
    <script type="text/javascript">
        $(document).ready(function () { 
            $(document).on('change', '#ddlRole input[type="checkbox"]', function (index, item) {
                // remove other option
                $('#ddlRole input[type="checkbox"]').not(this).prop('checked', false);
            });
        });
    </script>

}
