<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authencation @ViewBag.Title</title>
    @Styles.Render("~/library/css")
    @Styles.Render("~/authen/css")
    @Scripts.Render("~/library/jquery")
</head>
<body>
    @RenderBody() 
    @Scripts.Render("~/library/js")
    @RenderSection("scripts", required: false)
</body>
</html>