@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.ProductCategory
@{

    string parentId = "";
    string id = "";
    string title = "";
    string alias = "";
    string summary = "";
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string enabled = "None";
    string path = "";
    string iconFont = "";
    string imageFile = "";
    string backLink = "";
    if (Model != null)
    {
        id = Model.ID;
        parentId = Model.ParentID;
        title = Model.Title;
        alias = Model.Alias;
        summary = Model.Summary;
        iconFont = Model.IconFont;
        backLink = Model.BackLink;

        languageId = Model.LanguageID;
        createdBy = Model.CreatedBy;
        createdDate = Convert.ToString(Model.CreatedDate);
        if (Model.Enabled == (int)ModelEnum.State.ENABLED)
        {
            enabled = "checked";
        }
    }
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label">Tiêu đề:</label>
            <input id="txtTitle" name="txtTitle" maxlength="50" type="text" class="form-control" value="@title" />
            <span id="lblTitle" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả</label>
            <textarea id="txtSummary" name="txtSummary" class="form-control" style="margin: 0px; height: 199px;min-height: 199px;max-height: 199px; width: 100%; max-width:100%; min-width:100%;">@summary</textarea>
            <span id="lblSummary" class="message msg-box"></span>
        </div>
        @*<div class="form-group">
                <label class="form-label">Font icon: </label>
                <input id="txtIconFont" name="txtIconFont" maxlength="255" type="text" class="form-control" value="" />
                <span id="lblIconFont" class="message msg-box"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Liên kết: </label>
                <input id="txtBackLink" name="txtBackLink" maxlength="255" type="text" class="form-control" value="" />
                <span id="lblBackLink" class="message msg-box"></span>
            </div>*@
        <div class="form-group">
            <label class="form-label">Sắp xếp:</label>
            <select id="ddlOrder" name="ddlOrder" class="form-control show-tick" data-live-search="true">
                <option value="0">-@Helper.Language.Resource.Label.Option-</option>
                @Html.Raw(ModelService.DDLMenuSort(-1))
            </select>
            <span id="lblOrder" class="message msg-box"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Danh mục</label>
            <div class="vetical-menu" style="height: 276px;">
                <ul id="CategoryOption" class="sidebar-menu"></ul>
            </div>
            <span id="lblMenuID" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">&nbsp;</label>
            <div class="active-line">
                <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" @enabled />
                <label for="cbxActive">Kích hoạt</label>
                <span id="lblActive" class="message msg-box"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-6 text-right btn-action-group">
        <!-- button acction -->
        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnUpdate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
        </div>
        <hr />
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div> 
<input id="txtID" type="hidden" value="@id" />
<input id="categoryId" type="hidden" value="@parentId" />
@section scripts{
    <script src="~/Areas/Management/_script/product-category.js"></script>
    <script type="text/javascript">
        var txtId = $("#categoryId").val();
        productCategoryController.GetCategory(txtId);
        $(document).on('change', '#CategoryOption input[type="checkbox"]', function () {
            $('#CategoryOption input[type="checkbox"]').not(this).prop('checked', false);
        });
    </script>
} 